{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<article class = "grid">
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" method = "post">
{% csrf_token %}
{% for field in form %}
          <label for="{{ field.auto_id }}">
            {{ field.label }}
            {{ field }}
            {% if field.errors %}
              <div>{{ field.errors }}</div>
            {% endif %}
          </label>
        {% endfor %}
        <button type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
        <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
</form>
<div>
      <img src="{% static "images/kotik.jpg" %}">
    </div>
</article>
{% endblock %}
