{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<style>
.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    float:left;
    margin-right:20px;
}

.text {
   font-weight: 700;
   color: #39404B;
   margin: 10px;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 400;
   font-stretch: semi-condensed;
  <!-- font-style: italic;-->
   line-height: 2;
}

</style>
  <h1>{{ product.title }}</h1>
 <div class= "card"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" style="width:100%;height:100%;object-fit:contain;"></div>
<div class= "text"><p><strong>Brand:</strong> <a href="{{ product.brand.get_absolute_url }}">{{ product.brand }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ product.summary }}</p>
  <p><strong>Category:</strong> {% for category in product.category.all %} {{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p class="price">${{ product.price }}</p>
</div>
{% endblock %}

